## 데이터 불러오기 및 정제

In [5]:
import pandas as pd
import datetime
import math
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

retail_df = pd.read_excel(io='Online Retail.xlsx')
retail_df = retail_df[retail_df['Country']=='United Kingdom']
retail_df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [6]:
retail_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495478 entries, 0 to 541893
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    495478 non-null  object
 1   StockCode    495478 non-null  object
 2   Description  494024 non-null  object
 3   Quantity     495478 non-null  int64
 4   InvoiceDate  495478 non-null  datetime64[ns]
 5   UnitPrice    495478 non-null  float64
 6   CustomerID   361878 non-null  float64
 7   Country      495478 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 34.0+ MB

CustomerID 변수에 너무 많은 Null값 존재. Null값을 가진 데이터 제거 필요.

In [7]:
retail_df.describe()

            Quantity      UnitPrice     CustomerID
count  495478.000000  495478.000000  361878.000000
mean        8.605486       4.532422   15547.871368
std       227.588756      99.315438    1594.402590
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   14194.000000
50%         3.000000       2.100000   15514.000000
75%        10.000000       4.130000   16931.000000
max     80995.000000   38970.000000   18287.000000

Quantity와 UnitPrice은 음수가 나올 수 없는 변수인데 최솟값이 음수. 음수를 가진 데이터 제거 필요.

## Recency, Frequency, Monetary 열 만들기

In [15]:
retail_df['sale_amount'] = retail_df['Quantity'] * retail_df['UnitPrice']

In [21]:
aggregations = {
    'InvoiceDate': 'max',
    'InvoiceNo': 'count',
    'sale_amount':'sum'
}
cust_df = retail_df.groupby('CustomerID').agg(aggregations)

# groupby된 결과 컬럼값을 Recency, Frequency, Monetary로 변경
cust_df = cust_df.rename(columns = {'InvoiceDate':'Recency',
                                    'InvoiceNo':'Frequency',
                                    'sale_amount':'Monetary'
                                   }
                        )
cust_df = cust_df.reset_index()

In [22]:
import datetime as dt

cust_df['Recency'] = dt.datetime(2011,12,10) - cust_df['Recency']
cust_df['Recency'] = cust_df['Recency'].apply(lambda x: x.days+1)
print(cust_df.shape)
cust_df.head(5)

(3920, 4)

   CustomerID  Recency  Frequency  Monetary
0     12346.0      326          1  77183.60
1     12747.0        3        103   4196.01
2     12748.0        1       4595  33719.73
3     12749.0        4        199   4090.88
4     12820.0        4         59    942.34

## 데이터 변형

## 실루엣 계수로 가장 적절한 군집 개수 구하기